@import 'vars.scss';

$enable-shadows: true;
$body-bg: #fff;
$body-color: #181818;
$container-padding-x: 2.5rem;
$grid-gutter-width: 2.5rem;
$navbar-brand-margin-end: 1.5rem;
$navbar-nav-link-padding-x: .75rem;
$nav-pills-link-active-bg: #fff;
$navbar-light-color: #181818;
$navbar-light-hover-color: $c-primary;
$navbar-light-active-color: $c-primary;

$theme-colors: (
  'primary': #477507,
  'secondary': #f3d250,
  'success': #86c232,
  'info': #833bec,
  'warning': #c9a30d,
  'danger': #eb5140,
  'light': #ececec,
  'dark': #2f3336,
);

$font-sizes: (
  'xxl': 4rem,
  1: 2.5rem,
);

$position-values: (
  0: 0,
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
);

@import 'bootstrap/scss/bootstrap.scss';