@import '../styles/vars.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 60px;
  background-color: $c-light;

  &__navbar {
    height: 100%;
  }

  &__nav {
    width: 100%;
    justify-content: end;
  }

  &__search {
    margin-right: .5rem;
    width: 100%;
    max-width: 350px;
  }
}

.search__input {
  // border: none;
}

.logo__img {
  width: 120px;
}

.main {
  margin-top: 80px;
}

.greeting {
  height: 300px;
}